body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #d2d1d154;
}


.box{
    text-align: center;
    background: white;
    /* border: 0.1px solid black; */
    padding: 2rem;
    border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    
}
#counterval {
    font-size: 4rem;
    margin: 1rem 0;
    transition: color 0.3s ease;
}

button{
    font-size: 1.2rem;
    margin: 0.4rem;
    padding: 0.5rem 1.2rem;
    background-color: #3498db;
    border: none;
    border-radius: 6px;
    color: white;
}
button:hover {
  background: #2980b9;
}

#error-msg{
    font-size: 15px;
    color: red;
}
